{include file="public/head"}
<body>
	{include file="public/title"}
	<h4 class="cur-page-title">{$Think.session.basemodel.name}用户信息认证</h4>
	<form class="auth-form" action="{:Url('Auth/doAuth')}" enctype="multipart/form-data" method="post">
		<input type="hidden" name="model_id" value="{$Think.session.basemodel.id}"/>
		<input type="hidden" name="user_id" value="{$Think.session.user.id}"/>
		{eq name="Think.session.basemodel.id" value="1"}
		<div>
			<label>业务范畴:</label>	
			<select name="cat_id">
				<option value="0">请选择业务范畴</option>
				{volist name="cats" id="cat"}
				{if condition="$cat['id'] eq $auth_catid"}
				<option value="{$cat.id}" selected="selected">{$cat.name}</option>
				{else/}
				<option value="{$cat.id}">{$cat.name}</option>
				{/if}
				{/volist}
			</select>
		</div>
		{/eq}
		{eq name="Think.session.basemodel.id" value="2"}
		<div>
			<label>厂区类型:</label>	
			<select name="mc_id">
				<option value="0">请选择业务范畴</option>
				{volist name="cats" id="cat"}
				{if condition="$cat['id'] eq $auth_catid"}
				<option value="{$cat.id}" selected="selected">{$cat.name}</option>
				{else/}
				<option value="{$cat.id}">{$cat.name}</option>
				{/if}
				{/volist}
			</select>
		</div>
		{/eq}
		<div>
			<label>身份证:</label>
			<input name="card_no" />
		</div>
		<div>
			<label>正式名称:</label>
			<input name="name" />
		</div>
		<div>
			<label>归属地:</label>
			<div class="select-box">
				{include file="public/citychange"}
			</div>
		</div>
		<div>
			<label>地址:</label>
			<input name="address" />
		</div>
		<div>
			<label>联系电话:</label>
			<input name="phone" />
		</div>
		<div>
			<h3 class="upload-title">上传个人证件照</h3>
			<input hidden type="file" name="owner_pic" id="owner_pic" multiple="multiple"  />
			<label class="pic-box" for="owner_pic">
				<img src="/assets/image/need_add_pic.png" id="owner_pic_preview" alt="" />
			</label>
		</div>
		<div>
			<textarea rows="6" name="intro" placeholder="简介说明"></textarea>
		</div>
		{switch name="Think.session.basemodel.id"}
		{case value="1"}
		<!-- 饲养户附加信息 -->
		<div>
			<label>容量(只):</label>
			<input name="capacity" />
		</div>
		<div>
			<h3 class="upload-title">上传养殖场地照片</h3>
			<input hidden type="file" name="market_pic" id="market_pic" multiple="multiple"  />
			<label class="pic-box" for="market_pic">
				<img src="/assets/image/need_add_pic.png" id="market_pic_preview" alt="" />
			</label>
		</div>
		{/case}
		{case value="2"}
		<!-- 厂区用户附加信息 -->
		<div>
			<label>营业执照编号:</label>
			<input name="license" />
		</div>
		<div>
			<h3 class="upload-title">上传厂区照片</h3>
			<input hidden type="file" name="market_pic" id="market_pic" multiple="multiple"  />
			<label class="pic-box" for="market_pic">
				<img src="/assets/image/need_add_pic.png" id="market_pic_preview" alt="" />
			</label>
		</div>
		{/case}
		{case value="3"}
		<!-- 专家用户附加信息 -->
		<div>
			<label>毕业院校:</label>
			<input name="school_name" />
		</div>
		<div>
			<label>毕业院校地址:</label>
			<input name="school_address" />
		</div>
		<div>
			<label>资质证件说明及编号:</label>
			<input name="license" />
		</div>
		{/case}
		{case value="4"}
		<!-- 运输车用户附加信息 -->
		<div>
			<label>车牌号:</label>
			<input name="car_no" />
		</div>
		<div>
			<label>驾驶证编号:</label>
			<input name="car_license" />
		</div>
		<div>
			<label>配送半径:(公里)</label>
			<input name="radius" />
		</div>
		<div>
			<input hidden type="file" name="car_pic" id="car_pic" multiple="multiple"  />
			<h3 class="upload-title">上传车辆照片</h3>
			<label class="pic-box" for="car_pic">
				<img src="/assets/image/need_add_pic.png" id="car_pic_preview" alt="" />
			</label>
		</div>
		{/case}
		{default /}
		{/switch}
		<input type="submit" value="提交"/>
	</form>
</body>
<script>
	$(function () {
		// 挂载事件监听
		addEventListener();
		// 挂载提交验证监听
		addValidateListener();
	});


	function addEventListener() {
		// 图片预览监听
		var owner_pic_preview = document.querySelector('#owner_pic_preview');
		var owner_pic = document.querySelector('#owner_pic');
		if (owner_pic_preview && owner_pic) {
			owner_pic.onchange = function () {
				var url = foo.trans.getObjUrl(owner_pic.files[0]);
				if (url) {
					owner_pic_preview.src = url;
				}
			};
		}
		var market_pic_preview = document.querySelector('#market_pic_preview');
		var market_pic = document.querySelector('#market_pic');
		if (market_pic_preview && market_pic) {
			market_pic.onchange = function () {
				var url = foo.trans.getObjUrl(market_pic.files[0]);
				console.log(url);
				if (url) {
					market_pic_preview.src = url;
				}
			};
		}
		var car_pic_preview = document.querySelector('#car_pic_preview');
		var car_pic = document.querySelector('#car_pic');
		if (car_pic_preview && car_pic) {
			car_pic.onchange = function () {
				var url = foo.trans.getObjUrl(car_pic.files[0]);
				if (url) {
					car_pic_preview.src = url;
				}
			};
		}
	}

	function addValidateListener() {

	}
</script>
{include file="public/foot"}
