<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>跳转提示</title>
		<style type="text/css">
			*{ padding: 0; margin: 0; }
			body{ background: #fff; font-family: '微软雅黑'; color: #333; font-size: 14px; }
			.message{width: 666px;height: 214px;margin:auto;border:1px solid #2D7DEA;margin-top: 30px;}
			.head{width: 100%;height: 50px;background: #669FEC;text-align: center;line-height:50px;color:#fff;font-weight: 600}
			.content{height: 120px;width: 100%;}
			.success ,.error{text-align: center;margin-top: 30px;}
			.jump{text-align: center;margin-top: 20px;}
		</style>

    </head>

    <body>
		<div class="system-message">
        <?php switch ($code) {?>
            <?php case 1:?>
            <p class="success"><?php echo(strip_tags($msg));?></p>
            <?php break;?>
            <?php case 0:?>
            <p class="error"><?php echo(strip_tags($msg));?></p>
            <?php break;?>
        <?php } ?>
        <p class="detail"></p>
        <p class="jump">
            页面自动 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait);?></b>
        </p>
    </div>
    <script type="text/javascript">
        (function(){
            var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>

    </body>

</html>