<style>
	.pagination{ 
		text-align:center; 
		background:#f1f1f1; 
		padding:7px 0; 
		margin-top: 30px;
	}
	.pagination:after { 
		content: "\0020"; 
		display: block; 
		height: 0; 
		clear: both; 
	}
	.pagination li{ 
		float:left;
	}
	.pagination a{ 
		margin:0 5px; 
		border:#DA4453 solid 1px; 
		display:inline-block; 
		padding:2px 6px 1px; 
		line-height:16px; 
		background:#fff; color:#DA4453;
	}
	.pagination span{ 
		margin:0 5px;
		border:#DA4453 solid 1px;
		display:inline-block;
		padding:2px 6px 1px; 
		line-height:16px; color:#DA4453; 
		color:#fff; background:#DA4453;
	}
</style>
{$paginate}