.title{
	width:58%;
}
.btn{
	cursor: pointer;
	border:1px solid #f00;
	border-radius: 5px;
	width:20%;
}
.banner{
	width:99%;
	margin: 0 auto;
	height:200px;
}
.interface li{
	width:24%;
	float: left;
	border:1px solid #f0f;
}
.articles li{
	margin:2px;
	border:1px solid #f0f;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
