{include file="public/head"}
<body>
	{include file="public/title"}
	<table class="product-online-table food-table">
		<caption><h4 class="product-online-title"><span>{$cur_city}</span>在线抢单</h4></caption>
		<tr>
			<th>地区</th>
			<th>品种</th>
			<th>单价(元)</th>
			<th>数量</th>
			<th>合计(元)</th>
			<th>操作</th>
		</tr>
		{volist name="list" id="item"}
		<tr>
			<form class="hidden_form" action="{:Url('Goods/make_order')}" method="post">
				<input name="goods_id" type="hidden" value="{$item.id}"/>
				<input name="pro" type="hidden" value="{$item.pro}"/>
				<input name="city" type="hidden" value="{$item.city}"/>
				<input name="area" type="hidden" value="{$item.area}"/>

				<input name="cat_id" type="hidden" value="{$item.cat_id}"/>
				<input name="cat_name" type="hidden" value="{$item.cat_name}"/>
				<input name="seller_id" type="hidden" value="{$item.user_id}"/>
				<input name="seller_name" type="hidden" value="{$item.user_name}"/>

				<input name="price" type="hidden" value="{$item.price}"/>
				<input name="num" type="hidden" value="{$item.num}"/>
				<input name="total" type="hidden" value="{$item.total}"/>
			</form>
			<td>{$item.region_name}</td>
			<td>{$item.cat_name}</td>
			<td>{$item.price}</td>
			<td>{$item.num}</td>
			<td>{$item.total}</td>
			<td><button class="dobuy">抢单</button></td>
		</tr>
		{/volist}
	</table>
	<!-- 分页-->
	{include file="public/paginate"}
	<script>
		$(function(){
			submit_event();
		});
		function submit_event(){
			$(document.body).on('click', ".dobuy", function () {
				var form = $(this).parents('tr').find('.hidden_form');
				form.submit();
			});
		}
	</script>
</body>
{include file="public/foot"}
