{include file="public/head"}
<body>
	<h3 class="head">产品上架 <a class="btn-goback" href="/"></a></h3>

	<table class="product-online-table">
		<caption><h4 class="product-online-title"><span>{$cur_city}</span>我已上架的产品列表</h4></caption>
		<tr>
			<th>地区</th>
			<th>品种</th>
			<th>数量</th>
			<th>单价(元)</th>
			<th>上架时间</th>
			<th>操作</th>
		</tr>
		{volist name="list" id="item"}
		<tr>
			<input class="foo_del" type="hidden" data-url="{:Url('AjaxCrud/handle')}" data-handle="U" data-table="Goods" data-KN="id" data-KV="{$item.id}" data-FN="on_sell" data-FV="0"  />
			<td>{$item.region_name}</td>
			<td>{$item.cat_name}</td>
			<td>{$item.num}</td>
			<td>{$item.price}</td>
			<td>{$item.add_time}</td>
			<td><button class="foo_trigger">下架</button></td>
		</tr>
		{/volist}
	</table>
	<!--<ul class="online-list">
		<li>
			<span class="list-item">地区</span>
			<span class="list-item">品种</span>
			<span class="list-item">数量</span>
			<span class="list-item">价格</span>
			<span class="list-item">上架时间</span>
			<span class="list-item">操作</span>
		</li>
		{volist name="list" id="item"}
		<li>
			<input class="foo_del" type="hidden" data-url="{:Url('AjaxCrud/handle')}" data-handle="U" data-table="Goods" data-KN="id" data-KV="{$item.id}" data-FN="on_sell" data-FV="0"  />
			<span class="list-item">{$item.region_name}</span>
			<span class="list-item">{$item.cat_name}</span>
			<span class="list-item">{$item.num}</span>
			<span class="list-item">{$item.price}元/只</span>
			<span class="list-item">{$item.add_time}</span>
			<button class="list-item foo_trigger">下架</button>
		</li>
		{/volist}
	</ul>-->
	<button class="btn btn-show-form" id="add">添加</button>
	<form id="add_form" class="none add_form" method="post" action="{:Url('Goods/add_goods')}">
		<select name="cat_id">
			<option value="0">--请选择分类--</option>
			{volist name="$son_cat" id="cat"}
			<option value="{$cat.id}">{$cat.name}</option>
			{/volist}
		</select>
        <input placeholder="数量" name="num"/>
        <input placeholder="单价(元)" name="price"/>
		<button class="foo_submit btn ">确定添加</button>
	</form>
	<script>
		$(function () {
			show_form_event();
			del_event();
		});
		// 【显示】动作的事件监听器
		function show_form_event() {
			$(document.body).on('click', "#add", function () {
				$("#add_form").toggle();
			});
		}
		// 【删除】动作的事件监听器
		function del_event() {
			$(document.body).on('click', ".foo_trigger", function () {
				if (confirm("您确定下架吗？")) {
					var binder = $(this).siblings('.foo_del');
					console.log(binder.data());
					var url = binder.data('url');
					$.post(url, binder.data(), function (data) {
						if (data.is_done > 0) {
							console.log('成功');
						}
						binder.parent('tr').remove();
					});
				}
			});
		}
	</script>
</body>
{include file="public/foot"}
