<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8" />
		<title>养殖天网管理中心</title>
		<meta name="description" content="description" />
		<meta name="author" content="wxl" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="" />
		<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
		<link rel="shortcut icon" href="" />
		<!-- ios/android书签图标-->
		<meta name="mobile-web-app-capable" content="yes" />
		<link rel="icon" sizes="196x196" href="" />
		<link rel="apple-touch-icon" sizes="152x152" href="" />
		<!-- css -->
		{load href="/assets/style/normalize.css" /} 
		{load href="/assets/style/predefine.css" /} 
		{load href="/assets/style/style.css" /}
		<!-- js -->
		{load href="/assets/script/prefixfree.min.js" /} 
		{load href="/assets/script/jquery-1.12.4.min.js" /} 
		{load href="/assets/script/foo-js-0.5.js" /} 
		<script>
			$(function () {
				console.log(123);
			});
		</script>
	</head>
