{include file="public/head"}
{load href="/assets/style/category.css" /} 
<body>
	{include file="public/header"}
	<!--用户信息-->
	{include file="public/user_inter"}
	<!--功能入口-->
	<ul class="interface clear">
		<li>
			<a href="{:Url('Transport/my_car')}">
				<img src="/assets/image/zhuanshu.png"/>
				<p>我的运输</p>
			</a>
		</li>
		<li>
			<a href="{:Url('Category/matter')}">
                <img src="/assets/image/zhuanshu.png"/>
				<p>行情查询</p>
			</a>
		</li>
		<li>
			<a href="{:Url('Index/near')}">
                <img src="/assets/image/zhuanshu.png"/>
				<p>附近会员</p>
			</a>
		</li>
	</ul>
</body>
{include file="public/foot"}
