{include file="public/head"}
<body>
	{include file="public/header"}
	<!--客户基础模型入口-->
	<ul class="interface clear">
		{volist name="interfaces" id="inter" }
		<li>
			<a href='{:Url("$inter[ctrl_name]/$inter[act_name]",array("model_id"=>$inter.id))}'>
				<img src="/assets/image/siyang.png" alt=""/>
				<p>{$inter.name}</p>
			</a>
		</li>
		{/volist}
	</ul>
	<!--栏目文章，最多6行-->
	<h3 class="hot-articles">热门新闻</h3>
	<ul class="articles">
		{volist name="arts" id="art"}
		<li><a class="clear" href="{:Url('Index/article_detail',array('id'=>$art.id))}"><span class="fl art-title">{$art.title}</span><span class="fr">{$art.add_time}</span></a></li>
		{/volist}

	</ul>
</body>
{include file="public/foot"}